<!-- <div class="row">
<div class="col-lg-6">
  <img [src]="currentProduct?.PrdimgURL" alt="">
</div>
<div class="col-lg-6"></div>

</div> -->


@if(currentProduct){
<div class="row mb-5">
  <div class="col-lg-6">
    <img [src]="currentProduct.PrdimgURL" class="img-fluid">
  </div>
  <div class="col-lg-6">
    <h2>{{currentProduct.name}}</h2>
    <h3 class="text-primary">Price: {{currentProduct.price}}</h3>
    <h3>Material: {{currentProduct.Material}}</h3>
    <p class="text-muted" style="font-size:20px">{{currentProduct.details}}</p>
  </div>

</div>
}

<!-- Day5 -->
<div class="d-flex justify-content-center" role="group" aria-label="Basic example">
  <button class="border-0" (click)="prevFunc()" [disabled]="productID==allIdsList[0]"><i
      class="fa-solid fa-angles-left fs-4 text-primary"></i></button>
  <button class="border-0" (click)="nextFunc()" [disabled]="productID==allIdsList[allIdsList.length-1]"><i
      class="fa-solid fa-angles-right fs-4"></i></button>
</div>
<button class="button-91" (click)="goBack()">Back</button>
<!-- <button class="button-91" [routerLink]="['/Products']">Back</button> -->
<!-- ################## -->
