<!-- Day6 -->
<div class="col-md-5 mx-auto mb-3">
  <div class="small fw-light">search with materail</div>
  <div class="input-group">
    <!-- template reference -->
    <input class="form-control border-end-0 border rounded-pill" type="text" id="example-search-input" #inputVal>
    <span class="input-group-append">
      <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button"
        (click)="searchWithMat(inputVal.value)">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</div>

<ul>
  @for (item of productsAfterSearch; track $index) {
  <li>{{$index+1}} {{item.name}}</li>
  }
</ul>
<!-- ##################################### -->
<!-- <div class="row">
<div class="col-lg-6">
  <img [src]="currentProduct?.PrdimgURL" alt="">
</div>
<div class="col-lg-6"></div>

</div> -->


@if(currentProduct){
<div class="row mb-5">
  <div class="col-lg-6">
    <img [src]="currentProduct.PrdimgURL" class="img-fluid">
  </div>
  <div class="col-lg-6">
    <h2>{{currentProduct.name}}</h2>
    <h3 class="text-primary">Price: {{currentProduct.price}}</h3>
    <h3>Material: {{currentProduct.Material}}</h3>
    <p class="text-muted" style="font-size:20px">{{currentProduct.details}}</p>
  </div>

</div>
}

<!-- Day5 -->
<div class="d-flex justify-content-center" role="group" aria-label="Basic example">
  <button class="border-0" (click)="prevFunc()" [disabled]="productID==allIdsList[0]"><i
      class="fa-solid fa-angles-left fs-4 text-primary"></i></button>
  <button class="border-0" (click)="nextFunc()" [disabled]="productID==allIdsList[allIdsList.length-1]"><i
      class="fa-solid fa-angles-right fs-4"></i></button>
</div>
<button class="button-91" (click)="goBack()">Back</button>
<!-- <button class="button-91" [routerLink]="['/Products']">Back</button> -->
<!-- ################## -->
