<!-- <div class="row">
<div class="col-lg-6">
  <img [src]="currentProduct?.PrdimgURL" alt="">
</div>
<div class="col-lg-6"></div>

</div> -->


@if(currentProduct){
<div class="row mb-5">
  <div class="col-lg-6">
    <img [src]="currentProduct.PrdimgURL" class="img-fluid">
  </div>
  <div class="col-lg-6">
    <h2>{{currentProduct.name}}</h2>
    <h3 class="text-primary">Price: {{currentProduct.price}}</h3>
    <h3>Material: {{currentProduct.Material}}</h3>
    <p class="text-muted" style="font-size:20px">{{currentProduct.details}}</p>
  </div>

</div>
}
